<!doctype html>
<html lang="en">
<head>
	<title>Little Red Crib</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--Include all stylesheets here-->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/map.css"/>
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/leaflet-gplaces-autocomplete.css" />

	<!--Include all Google Fonts here-->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">

	<!--Include all JS/Leaflet dependencies here-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript"src="js/popper.min.js"></script>
	<script type="text/javascript"src="js/bootstrap.min.js"></script>
	<script type="text/javascript"src="js/leaflet.js"></script>
	<script type="text/javascript"src="js/leaflet-heat.js"></script>
	<script type="text/javascript" src="js/locations.js"></script>
	<script type="text/javascript" src="js/leaflet-gplaces-autocomplete.js"></script>

	<!--Include all Google API dependencies here-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9887gzzndnzrP4E-bJkEmqESDRTW3GKw&libraries=places"></script>
	
	
</head>

<body style="margin: 0; background: #6da8e4;">

	<div id="register-div">
		<div id="registerclose">X</div>
	    <div class="panel">
		   <h1>Registration</h1>
		   <p>Please fill up the following fields to create a profile.</p>
		</div>
	    <form action="/controllers/register-controller" method="POST">   
	        <div class="form-group">
	            <input type="email" name="email" class="form-control" id="registerEmail" placeholder="Email Address">
	        </div>
	        <div class="form-group">
	            <input type="text" name="username" class="form-control" id="registerusername" placeholder="Username">
	        </div>
	        <div class="form-group">
	            <input type="password" name="password" class="form-control" id="registerPassword" placeholder="Password">
	        </div>
    		<button type="submit" class="btn search">Register</button>
    	</form>
    </div>

    <div id="registerlightbox"></div>

	<!--Start of slidebar windows here-->
	<div id="menuContainer">
		<div id="propertyModal" class="sideModal">
			<div class="closeModal">X</div>
			<div class="bar"></div>
			<h1>Housing</h1>
			<p>Filter any HDB houses in Singapore catered to your needs.</p>

			<form id="housingajax" method="POST" action="/housing">
				<div class="locale">
					<h2>Locale:</h2>
					<select class="custom-select" id="localeDDL" name="locale">
						<option selected value="Ang Mo Kio">Ang Mo Kio</option>
						<option value="Balestier">Balestier</option>
						<option value="Panjang">Bukit Panjang</option>
						<option value="Timah">Bukit Timah</option>
						<option value="Choa">Choa Chu Kang</option>
						<option value="Eunos">Eunos</option>
						<option value="Geylang">Geylang</option>
						<option value="Holland">Holland</option>
						<option value="Hougang">Hougang</option>
						<option value="Jurong">Jurong</option>
						<option value="Kranji">Kranji</option>
						<option value="Punggol">Punggol</option>
						<option value="Sembawang">Sembawang</option>
						<option value="Tampines">Tampines</option>
						<option value="Tanjong Pagar">Tanjong Pagar</option>
						<option value="Toa Payoh">Toa Payoh</option>
					</select>
				</div>

				<h2>Year Bulit</h2>
				<select class="custom-select" name="year">
					<option selected value="1930-2018">Any</option>
					<option value="2001-2018">After 2000</option>
					<option value="1990-2000">1990-2000</option>
					<option value="1930-1989">Before 1990</option>
				</select>

				<h2>Rooms:</h2>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" name="roomtype">
					<label class="form-check-label" for="inlineCheckbox1">1 Room</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" name="roomtype">
					<label class="form-check-label" for="inlineCheckbox2">2 Room</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3" name="roomtype">
					<label class="form-check-label" for="inlineCheckbox3">3 Room</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="4"  name="roomtype">
					<label class="form-check-label" for="inlineCheckbox4">4 Room</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="5"  name="roomtype">
					<label class="form-check-label" for="inlineCheckbox5">5 Room</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkAll" name="checkAll">
					<label class="form-check-label" for="checkAll">Check all</label>
				</div>				
				<button type="submit" value="Submit" class="btn search">Search</button>
			</form>
		</div>

		<div id="amenitiesModal" class="sideModal">
			<div class="closeModal">X</div>
			<div class="bar"></div>
			<h1>Amenities</h1>
			<p>Show all the nearest amenities to a location within the proximity. Click on a location on the map to mark.</p>

			<form id="amenitiesajax">
				<h2>Marked Location:</h2>
				<input type="text" name="currentlocation" class="form-control" placeholder="Location" id="currentlocation" readonly>
				<br>

				<h2>Proximity: <span id="proximity" style="color: #F53240;">1km</span> </h2>
				<div class="slidecontainer">
					<input type="range" min="1" max="10" value="1" class="slider" id="myRange">
				</div>
				<br>

				<h2>School:</h2>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="primarysch" value="option6">
					<label class="form-check-label" for="primarysch">Primary</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="secsch" value="option7">
					<label class="form-check-label" for="secsch">Secondary</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="combsch" value="option8">
					<label class="form-check-label" for="combsch">Combined</label>
				</div>
				<br><br>
				<h2>Transport:</h2>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="busstops" value="option6">
					<label class="form-check-label" for="busstops">Bus-stops</label>
				</div>
				<br><br>
				<h2>Police Stations:</h2>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="npc" value="option8">
					<label class="form-check-label" for="npc">NPC</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="npp" value="option9">
					<label class="form-check-label" for="npp">NPP</label>
				</div>
				<br><br>
				<h2>Others:</h2>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="hawker" value="option10">
					<label class="form-check-label" for="hawker">Hawkers</label>
				</div>
			</form>
		</div>

		<div id="grantModal" class="sideModal">
			<div class="closeModal">X</div>
			<div class="bar"></div>
			<h1>Grant</h1>
			<p>Filter any HDB houses in Singapore catered to your needs.</p>
		</div>

		<div id="bookmarkModal" class="sideModal">
			<div class="closeModal">X</div>
			<div class="bar"></div>
			<h1>Bookmarks</h1>
			<p>View your residential bookmarks here.</p>

			<table id="bookmarkTable" style="width:100%">
				<thead>
					<tr>
						<th>Block</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>

		</div>

		<div id="profileModal" class="sideModal">
			<div class="closeModal">X</div>
			<div class="bar"></div>
			<h1>Profile</h1>
			<p>Welcome back <%=user%></p>

			<form action="/" method="GET">
	    		<button type="submit" class="btn search" value="Submit">Logout</button>
	    	</form>
	    	<p id="registertrigger"></p>
		</div>
	</div>
<!--End of slidebar windows here-->

<!--Start of red navbar here-->
<div id="navbar">
	<ul class="navbar-functions">
		<li id="propertyButton"><img src="images/house.png"></li>
		<li id="amenitiesButton"><img src="images/amenities.png"></li>
		<li id="grantButton"><img src="images/grant.png"></li>
		<li id="bookmarkButton"><img src="images/bookmark.png"></li>
		<li id="profileButton"><img src="images/profile.png"></li>
	</ul>

</div>
<!--End of red navbar here-->

<!--Start of zoom controls here-->
<button type="button" class="btn btn-outline-danger" id="zoomOut">-</button>
<button type="button" class="btn btn-outline-danger" id="zoomIn">+</button>
<!--End of zoom controls here-->

<div id='mapdiv' style='height:758px;'></div>

</body>

<!--Include main map function here-->

<script src="js/map.js"></script>	
<script type="text/javascript" src="js/interface.js"></script>
<script src="js/housingajax.js"></script>		
<script src="js/amenitiesajax.js"></script>
<script src="js/bookmarkajax.js"></script>		
</html>
