html, body {
	margin: 0;
	background: #d0d0d0;
}

#navbar{
	height: 100%;
	width: 60px; 
	left: 0; 
    top: 0; 
	background: #F53240;
	z-index: 997;
	position: fixed;
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
           		0 5px 15px 0 rgba(0,0,0,0.08);
}

#navbar ul{
	list-style-type: none;
	padding: 0;
	margin: 80px 0 0 0;
	border-top:1.5px solid #c9222e;
}

#navbar ul li{
	padding: 10px;
	border-bottom:1.5px solid #c9222e;
	text-align: center;
}

#navbar ul li:hover{
	background:#c9222e;
	cursor: pointer;
}

#navbar ul li img{
	width: 30px;
}

.sideModal{
	width: 280px;
	height:100%;
	background:#FFF;
	padding: 0 20px;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	left:-280px;
	-webkit-transition:0.5s;
	z-index: 996;
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
           		0 5px 15px 0 rgba(0,0,0,0.08)
           		0 15px 30px 0 rgba(0,0,0,0.11)
           		0 15px 30px 0 rgba(0,0,0,0.11);
}

.sideModal h1{
	font-size: 25px;
	font-weight: 300;
}

.sideModal h2{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: : 5px;
}

.sideModal select{
	margin-bottom: 20px;
}

.sideModal input{
	font-size: 13px;
}

.search{
	width: 100%;
	font-size:15px;
	background: #F53240;
	color:#FFF;
	margin-top:15px;
	box-shadow: 0 4px 2px -2px gray;
}

.grantA{
	width: 48%;
	font-size:15px;
	background: #BC1A2D;
	color:#FFF;
	margin-top:15px;
	box-shadow: 0 4px 2px -2px gray;
}

.grantB{
	width: 48%;
	font-size:15px;
	background: #D30037;
	color:#FFF;
	margin-top:15px;
	float:right;
	box-shadow: 0 4px 2px -2px gray;
}

.acc{
	width: 100%;
	font-size:15px;
	background: #F53240;
	color:#FFF;
	border-radius: .25rem;
}

.acc:focus{
	background: #F53240;
  	text-decoration: none !important;
}

.card-header{
	padding: 0;
}

.bar{
	width: 50px;
	height:4px;
	background: #F53240;
	margin-bottom: 5px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #F53240; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #F53240; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


.closeModal{
	width:50px;
	height:50px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-align: center;
    color: #FFF;
	background: #F53240;
    right: 70px;
    cursor: pointer;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
           		0 5px 15px 0 rgba(0,0,0,0.08);
}

#propertyModal.clicked, #amenitiesModal.clicked, #grantModal.clicked, #profileModal.clicked , #bookmarkModal.clicked{
	left: 60px;
}

#propertyModal.hide, #amenitiesModal.hide, #grantModal.hide, #profileModal.hide, #bookmarkModal.hide{
	left:-280px;
}

#zoomIn, #zoomOut{
	position: absolute;
	width: 40px;
	bottom: 50px;
	z-index: 999;
}

#zoomIn{
	right:100px;
}

#zoomOut{
	right:50px;
}


#register-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 100px auto 30px;
  width:450px;
  padding: 30px 50px 50px 71px;
  position: absolute;
  z-index: 999;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  display: none;
}

#registerclose{
	width: 100%;
	text-align: right;
	font-size: 25px;
	cursor: pointer;
}

#register-div.clicked, #registerlightbox.clicked{
	display: none;
}

#register-div input{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

#register-div h1{
  font-size: 25px;
  font-weight: 300;
}

#registerlightbox{
	width:100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	z-index: 998;
	display: none;
}

#registertrigger{
	margin-top: 20px;
	color: #F53240;
	cursor: pointer;
	font-weight: bold;
}